@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-Black.woff2') format('woff2'),
  url('GTWalsheim-Black.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-BoldOblique.woff2') format('woff2'),
  url('GTWalsheim-BoldOblique.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-BlackOblique.woff2') format('woff2'),
  url('GTWalsheim-BlackOblique.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-Bold.woff2') format('woff2'),
  url('GTWalsheim-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-MediumOblique.woff2') format('woff2'),
  url('GTWalsheim-MediumOblique.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-Light.woff2') format('woff2'),
  url('GTWalsheim-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-RegularOblique.woff2') format('woff2'),
  url('GTWalsheim-RegularOblique.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-LightOblique.woff2') format('woff2'),
  url('GTWalsheim-LightOblique.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-Medium.woff2') format('woff2'),
  url('GTWalsheim-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-UltraBold.woff2') format('woff2'),
  url('GTWalsheim-UltraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-UltraLightOblique.woff2') format('woff2'),
  url('GTWalsheim-UltraLightOblique.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-UltraLight.woff2') format('woff2'),
  url('GTWalsheim-UltraLight.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim.woff2') format('woff2'),
  url('GTWalsheim.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-ThinOblique.woff2') format('woff2'),
  url('GTWalsheim-ThinOblique.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-Thin.woff2') format('woff2'),
  url('GTWalsheim-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-UltraBoldOblique.woff2') format('woff2'),
  url('GTWalsheim-UltraBoldOblique.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html, body {
  margin:0;
  padding:0;
  scroll-behavior: smooth;
  cursor:url('http://dex-donoe.github.io/images/cursor.png'), auto;
  font-family: 'GT Walsheim', sans-serif;
  font-weight: 600;
  font-style:oblique;
  letter-spacing:1;
  scroll-behavior: smooth;
  background-color:black;
}

/* BACKGROUND */

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  background-image:url('http://dex-donoe.github.io/images/bg.gif');
  background-size:cover;
}

/* HEADER */

.header {
  position:fixed;
  top:7vw;
  width:100%;
  color:#ff00d2;
  font-size:20vw;
  text-align:center;
  text-transform:uppercase;
  z-index:999;
}

/* MUSIC_PLAYER */

.music {
  position:fixed;
  top:30vw;
  width:100%;
  text-align:center;
  margin:0;
  padding:0;
  z-index:999;
}

hr {
  border:0;
  height:1vw;
}

/* MUSIC_PLAYER_BUTTONS */

.play {
  font-family: 'GT Walsheim', sans-serif;
  font-weight:600;
  font-size:2vw;
  font-style:oblique;
  letter-spacing:1;
  text-transform:uppercase;
  width:20vw;
  margin:0 1vw;
  padding:1vw 0;
  color:#ff00d2;
  background-color:black;
  box-shadow: 0 2vw 2vw 0 transparent, 0 2vw 2vw 0 transparent;

}

.play:hover {
  box-shadow: 0 2vw 2vw 0 red, 0 2vw 2vw 0 blue;
}

.stop {
  font-family: 'GT Walsheim', sans-serif;
  font-weight:600;
  font-size:2vw;
  font-style:oblique;
  letter-spacing:1;
  text-transform:uppercase;
  width:20vw;
  margin:1vw 1vw 0;
  padding:1vw 0;
  color:white;
  background-color:red;
}