@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-Black.woff2') format('woff2'),
  url('GTWalsheim-Black.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-BoldOblique.woff2') format('woff2'),
  url('GTWalsheim-BoldOblique.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-BlackOblique.woff2') format('woff2'),
  url('GTWalsheim-BlackOblique.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-Bold.woff2') format('woff2'),
  url('GTWalsheim-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-MediumOblique.woff2') format('woff2'),
  url('GTWalsheim-MediumOblique.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-Light.woff2') format('woff2'),
  url('GTWalsheim-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-RegularOblique.woff2') format('woff2'),
  url('GTWalsheim-RegularOblique.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-LightOblique.woff2') format('woff2'),
  url('GTWalsheim-LightOblique.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-Medium.woff2') format('woff2'),
  url('GTWalsheim-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-UltraBold.woff2') format('woff2'),
  url('GTWalsheim-UltraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-UltraLightOblique.woff2') format('woff2'),
  url('GTWalsheim-UltraLightOblique.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-UltraLight.woff2') format('woff2'),
  url('GTWalsheim-UltraLight.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim.woff2') format('woff2'),
  url('GTWalsheim.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-ThinOblique.woff2') format('woff2'),
  url('GTWalsheim-ThinOblique.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-Thin.woff2') format('woff2'),
  url('GTWalsheim-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('GTWalsheim-UltraBoldOblique.woff2') format('woff2'),
  url('GTWalsheim-UltraBoldOblique.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* ALL */

html, body {
  margin:0;
  padding:0;
  scroll-behavior: smooth;
  cursor:url('http://dex-donoe.github.io/images/cursor.png'), auto;
  font-family: 'GT Walsheim', sans-serif;
  font-weight: 600;
  font-style:oblique;
  letter-spacing:1;
  scroll-behavior: smooth;
  overflow: scroll;
  background-color:black;
}

/* BACKGROUND */

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  background-size:cover;
  
  background-image:url('http://dex-donoe.github.io/images/bg.gif');
}

/* HEADER */

.header {
  position:fixed;
  top:7vw;
  width:100%;
  color:#ff00d2;
  font-size:20vw;
  text-align:center;
  text-transform:uppercase;
  z-index:999;
}

/* MUSIC_PLAYER */

.music {
  position:fixed;
  top:30vw;
  width:100%;
  text-align:center;
  margin:0;
  padding:0;
  z-index:999;
}

hr {
  border:0;
  height:1vw;
}

/* MUSIC_PLAYER_BUTTONS */

.play {
  font-family: 'GT Walsheim', sans-serif;
  font-weight:600;
  font-size:2vw;
  font-style:oblique;
  letter-spacing:1;
  text-transform:uppercase;
  width:20vw;
  margin:0 1vw;
  padding:1vw 0;
  color:#ffffff;
  background-color:black;
  box-shadow: 0 0 2vw 0 transparent, 0 0 2vw 0 transparent;
}

.play:hover {
  box-shadow: 0 0 2vw 0 #ff00d2, 0 0 2vw 0 blue;
  cursor:url('http://dex-donoe.github.io/images/cursor.png'), auto;
}

/* STOP_BUTTON */

.stop {
  font-family: 'GT Walsheim', sans-serif;
  font-weight:600;
  font-size:2vw;
  font-style:oblique;
  letter-spacing:1;
  text-transform:uppercase;
  width:20vw;
  margin:1vw 1vw 0;
  padding:1vw 0;
  color:white;
  background-color:red;
  box-shadow: 0 0 2vw 0 transparent, 0 0 2vw 0 transparent;
}

.stop:hover {
  box-shadow: 0 0 2vw 0 red, 0 0 2vw 0 transparent;
  cursor:url('http://dex-donoe.github.io/images/cursor.png'), auto;
}

/* SCROLLBAR_WIDTH */

::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

/* SCROLLBAR_TRACK */
::-webkit-scrollbar-track {
  background: grey;
}

/* SCROLLBAR_HANDLE */
::-webkit-scrollbar-thumb {
  background: red;
}

/* MSN_BUTTON */

.msn {
  position:fixed;
  bottom:0;
  right:3vw;
  z-index:999999999;
  background-image:url('https://dex-donoe.github.io/images/msn.png');
  background-size:cover;
  height:12vw;
  width:14.9vw;
}

.MsnButton {
  font-family: 'GT Walsheim', sans-serif;
  font-size:1.2vw;
  letter-spacing:1;
  line-height:12.4vw;
  width:100%;
  margin:0;
  padding:0;
  color:#333333;
  border:0;
  background-color:transparent;
}

.MsnButton:hover {
  text-decoration:underline;
}


























/* MARQUEES */

  .marquee-container-top {
    position: fixed;
    top:0;
    width: 100%;
    overflow: hidden;
    height: 5vw;
    background-color:#ff0000;
  }

  .marquee-container-right {
    position: fixed;
    right:0;
    width: 5vw;
    overflow: hidden;
    height: 100%;
    background-color:#3cff00;
  }

  .marquee-container-bottom {
    position: fixed;
    bottom:0;
    width: 100%;
    overflow: hidden;
    height: 5vw;
    background-color:#ff00d2;
  }
  .marquee-container-left {
    position: fixed;
    left:0;
    width: 5vw;
    overflow: hidden;
    height: 100%;
    background-color:#00eaff;
  }


  .scrolling-text {
    display: block;
    color:black;
    font-size:4.3vw;
    text-transform:uppercase;
    width: 50%;
    /* width of your text div */
    height: 2vw;
    /* height of your text div */
    position: absolute;
    animation: marquee 6s linear infinite; /* change 5s value to your desired speed */
  }

  .scrolling-text-side {
    display: block;
    color:black;
    font-size:4.3vw;
    text-transform:uppercase;
    width: 70%;
    /* width of your text div */
    height: 2vw;
    /* height of your text div */
    position: absolute;
    animation: scroll-left 2s linear infinite; /* change 5s value to your desired speed */
  }

  .scrolling-text-side p {
    padding:0;
    margin:0;
  }

  .scrolling-text:hover {
    animation-play-state: paused;
    cursor: pointer;
  }
  @keyframes marquee {
    0% {
      left: 50%;
    }
    100% {
      left: -147px /* same as your text width */
    }
  }